body {
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    margin: 0px;
}

/* Shared elements */
section {
    margin-top: 50px;
}
.section-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}
.section-title-second {
    color: #9929bb;
    font-size: 40px;
    font-weight: 600;
}
h2 {
    font: 60px;
    font-weight: 700;
    color:#f948cd;
}
.h2-span {
    font: 60px;
    font-weight: 700;
    color: #0B0223;
}
.description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary {
    padding: 10px 30px;
    border-radius: 48px;
    border: none;
    background: #FF42A5;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;}
.btn-second {
   padding: 10px 30px;
   border-radius: 48px;
   border: none;
   background: #4EC5F7;
   color: #FFF;
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   margin-left: 20px;
}

/* HEADER */

/* NAVIGATION */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 180px;
}
nav img {
    width: 80px;
    height: 40px;
}
.left-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
    
}
.nav-list a {
    text-decoration: none;
    
}
.follow-us {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgb(221, 219, 219);
    list-style: none;
    border-radius: 8px;
    padding: 10px 15px;
}

/* BANNER */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(245, 240, 240), white);
    padding: 25px 160px;
}
.banner img {
    width: 500px;
}
h1 {
    font-size: 50px;
    color: #8758F1;
    font-weight: 800;
}
.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    

}
.icon {
    padding-right: 15px;
}
.banner-btn {
    margin-top: 35px;
    row-gap: 25px;
}

/* GAMER section */
.gamer {
    background:#ff42a508;
    display: flex;
    align-items: center;
    padding: 25px 160px;
    gap: 40px;
}
.gamer img {
    width: 500px;   
}
.gamer-info {
    text-align: right;
}

/* FUNNY VIDEO Section */
.video-section {
    text-align: center;
    margin: 25px 160px;
}
.video-collection {
    display: flex;
    gap: 20px;
    padding-top: 35px;
}
.video-collection img {
    width:250px;
    transition: all 0.2s ease-in-out;
}
.video-collection img:hover {
    filter: brightness(30%);
    border: 5px solid #f8f7f7af;
    border-radius: 50px;
    
}
figcaption {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.video {
    position: relative;
    width: 50%;
}
.video button {
    background: none;
    border: none;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}
.video-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15x;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background: none;
}

/* PLAY INSTANTLY Section */
.play-section {
    display: flex;
    align-items: center;
    margin: 100px 140px;
    gap: 200px;
    
}
.play-info {
    text-align: right;
    
}   
.images {
   position: relative;
}
 .large-img {
    width: 450px;
}

.small-img {
    width: 220px;
    position: absolute;
    top: 55%;
    right: 70%;
}

/* GAMES CATEGORIES SECTiON */
.game-section {
    margin: 200px 100px 25px 180px;
    align-items: center;
}
.first-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    column-gap: 20px;
    row-gap: 40px;
}
 
.each-game {
    display: flex;
    gap: 10px;
    align-items: center;
}
.each-game:hover {
    border: 3px solid #FF42A5;
    border-radius: 40px;
    padding: 5px;
}
.game-info {
    color: #0B0223;
    font-size: 15px;
    font-weight: 500;   
}

/* FOOTER SECTION */
footer {
    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 300px;
    row-gap: 40px;

}
.left-nav {
    display: flex;
    gap: 20px;
}
.h2-footer{
        font: 60px;
        font-weight: 700;
        color: #fff;
    }
.service {
    display: flex;
    font-size: 18px;
    column-gap: 40px;
    font-weight: 600;
}
.service a {
    text-decoration: none;
    color: #FFF;
}
.social-logo {
    font-size: 40px; 
}
.social-logo a {
    margin-right: 40px;
}
.policy {
    display: flex;
    color: #ffffff99;
    column-gap: 40px;
}
.sm-text {
    color: #ffffff99;;
}
 



/*----------- RESPONSIVENESS -------- */

/* --For MOBILE---
------------------------------- */
@media only screen and (max-width:576px) {

    /* Navigation */
    nav {
        flex-direction: column;
    }
    .nav-list {
        flex-direction: column;
    }

    /* Banner */
    .banner {
        flex-direction:column-reverse;
        gap: 30px;
        padding: 0px 20px;
        margin-top: 50px; 
    }
    .banner img {
        width: 100%;
        
    }

    /* Gamer section */
    .gamer {
        flex-direction: column;
        padding: 0px 20px;
    }
    .gamer-info {
        text-align: center;
    }
    .gamer img {
        width: 100%;
    }

    /* Funny video Section */
    .video-section {
        margin: 0px 20px;
        
    }
    .video-collection {
        flex-direction: column;
        align-items: center;
        
    }
    .video-info {
        transform: translate(-20%, -55%);
    }

    /* PLAY section */
    .play-section {
        flex-direction: column;
        margin: 10px 30px;
        gap: 30px;

    }
    .play-info {
        text-align: center;
    }
    
    .large-img {
        width: 250px;
    }
    .small-img {
        width: 120px;
    }
    
    /* GAME CATAGORIES SECTION */
    .game-section {
        margin: 50px 20px; 
    }
    .first-row {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;

    }
    .first-row img  {
        width: 35px;
    }
    .game-section {
        font: 10px;
        font-weight: 400px;
    }
    /* FOOTER SECTION */
    footer {
        padding: 50px 20px;
    }
    .service {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 15px;
    }
    .social-logo {
        font-size: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        text-align: center;
    }
    .policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        text-align: center;
    }
    }


/*-------- ---For TABLET---------------
--------------------------------  */
@media only screen and (min-width:576px)and (max-width:992px) {
    
    /* Navigation */
    nav {
        margin: 10px 30px;
    }
    /* Banner */
    .banner {
        padding: 25px 30px;  
        gap: 15px;
    }
    .banner img {
        width: 350px;
    }

    /* Gamer section */
    .gamer {
        padding: 0px 20px;
    }
    .gamer img {
        width: 350px;
    }

    /* Funny video Section */
    .video-section  {
        margin: 50px 20px;
    }
    .video-collection {
        display: grid;
        padding: 20px 50px 0px 70px;
        grid-template-columns: repeat(2, 1fr);
    }
    .video-info {
        transform: translate(15%, -60%);  
}
    /* PLAY SECTION */
    .play-section {
        margin: 10px 30px;
        gap: 60px;
    }
    .play-info {
        text-align: right;
        padding-right: 50px;
    }
    
    .large-img {
        width: 250px;
    }
    .small-img {
        width: 120px;
    }

    /* GAME CATEGORIES SECTION */
    .game-section {
        margin: 100px 30px;
    }
    .first-row {
        grid-template-columns: repeat(4, 1fr);
    }

    /* FOOTER SECTION */
    footer {
        padding: 50px 20px;
    }
}